.Header {
  background: url("../resources/images/header-background.png") center;
  background-size:  cover;
  color: #FFF;
}
.Header .bookingStrip {
  background: #ef4035;
  width: 100%;
  height: 2rem;
}
.Header h1 {
  color: #FFF;
  font-size: 3rem;
  font-weight: 400;
}
