.Instructors {
  
}
  
.Instructors .grid-container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-gap: 20px 20px;
    grid-template-areas: "InstructorCard" "InstructorCard";
    align-items: center;
}

.Instructors .section__inner--bounding {

  margin: auto;
  text-align: center;
  max-width: 1200px;
  width: auto;
}
