.InstructorCard {
  width: 216px;
  height: 320px;
  padding: 120px 0 0;
  box-sizing: border-box;
  position: relative;
  border: 2px #bcbdc0 solid;
  border-radius: 4px;
  overflow: hidden;
}
.InstructorCard__content {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 0.5rem 0.6rem;
  box-sizing: border-box;
}
.InstructorCard__content p {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 1.2em;
  margin-top: 0.4em;
}
.InstructorCard__content h3 {
  color: #277cc0;
  margin: 0.5em auto 0.3em;
  font-weight: normal;
}

.InstructorCard__pricing {
  position: absolute;
  bottom: 0;
  padding: 0.4em 0 0.3em;
  width: 100%;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #e4e4e5 0%, #f7f7f7 30%);
  background: -webkit-linear-gradient(top, #e4e4e5 0%, #f7f7f7 30%);
  background: linear-gradient(to bottom, #e4e4e5 0%, #f7f7f7 30%);
  color: #6d6e71;
  text-transform: uppercase;
  font-weight: lighter;
}
