.Schools {
  background: #f7f7f7;
  align-items: start;
  
}
  
.Schools .grid-container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-gap: 20px 20px;
    grid-template-areas: "SchoolCard" "SchoolCard";
}
