.SchoolCard {
  width: 216px;
  height: 320px;
  padding: 185px 21px 0;
  box-sizing: border-box;
  position: relative;
  color: #1b365d;
}
.SchoolCard__content {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  line-height: 1.3em;
}
.SchoolCard .overlay {
  display: none;
  background: #ef4035;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #FFF;
  opacity: 0.8;
  padding: 80px 10px 0;
}
.SchoolCard .overlay h3,  .SchoolCard .overlay h4{
  color: #FFF;
  font-weight: 200;
}
.SchoolCard:hover .overlay {
  display: block;
  cursor: pointer;
}
