html:root {
  --mdc-theme-primary: #ef4035;
  --mdc-theme-secondary: #277cc0;
  
}

.mdc-theme--secondary {
  --mdc-theme-primary:  #277cc0;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #6d6e71;
  line-height: 1.4em;
}
p {
  font-family: 'Lato', sans-serif;
  line-height: 2em;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.34rem;
  text-transform: uppercase;
  color: #1b365d;
  text-align: center;
}
h2 {
  font-size: 1.75rem;
}

section {
  text-align: justify;
}
.section__inner {
  margin: auto;
}
.section__inner--bounding {
  max-width: 60rem;
  padding: 1rem 0;
  margin: auto;
}
