body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #6d6e71;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #1b365d;
}
